services:
  web:
    build:
      context: ..
      dockerfile: dev/Dockerfile
    ports:
      - '5173:5173'
    volumes:
      - ..:/app
      - /app/node_modules
    environment:
      NODE_ENV: development
      CHOKIDAR_USEPOLLING: 'true'
      CHOKIDAR_INTERVAL: 1000
