services:
  web:
    build:
      context: ..
      dockerfile: dev/Dockerfile
    ports:
      - '5173:5173'
    volumes:
      - ..:/app
      - /app/node_modules
    environment:
      NODE_ENV: development
      CHOKIDAR_USEPOLLING: 'true'
      CHOKIDAR_INTERVAL: 1000
    healthcheck:
      test:
        [
          'CMD',
          'wget',
          '--quiet',
          '--tries=1',
          '--spider',
          'http://localhost:5173',
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
