@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));

  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));

  --shadow-inset-top: inset 3px 3px 6px 0px rgba(0, 0, 0, 0.7);
  --shadow-inset-side: inset 3px 0px 6px 0px rgba(0, 0, 0, 0.7);
  --shadow-inset-bottom: inset 3px -3px 6px 0px rgba(0, 0, 0, 0.7);
}


.velocity {
  --velocity-bg: color-mix(
    in srgb,
    var(--track-color) 10%,
    black 90%
  );
  --velocity-fill: color-mix(
    in srgb,
    var(--track-color) 70%,
    white 10%
  );
}


  .step {
      --step-active-darken: 25%;
    --step-active: color-mix(
      in srgb,
      var(--track-color) calc(100% - var(--step-active-darken)),
      black var(--step-active-darken)
    );
  }

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility scrollbar {
  &::-webkit-scrollbar {
    @apply w-5 h-2;
  }
  &::-webkit-scrollbar-track {
    @apply rounded-full bg-accent;
  }
  &::-webkit-scrollbar-thumb {
    @apply bg-background/50 rounded-full mt-2 outline-solid outline-accent;
  }

  &::-webkit-scrollbar {
    margin-top: 2px !important;
  }
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-col-center {
  @apply flex flex-col items-center justify-center;
}

@utility fader-thumb {
  -webkit-appearance: none;
  position: relative;
  appearance: none;
  width: var(--thumb-height);
  height: var(--thumb-width);
  background-color: var(--thumb-bg-color);
  background-image:
    repeating-linear-gradient(
      90deg,
      transparent,
      transparent 5px,
      rgba(0, 0, 0, 1) 6px
    ),
    linear-gradient(
      90deg,
      rgb(70, 70, 70) 0%,
      rgb(90, 90, 90) 14%,
      rgb(20, 20, 20) 15%,
      rgb(30, 30, 30) 48%,
      rgb(255, 255, 255) 50%,
      rgb(30, 30, 30) 52%,
      rgb(90, 90, 90) 84%,
      rgb(20, 20, 20) 85%,
      rgb(30, 30, 30) 100%
    );
  cursor: pointer;
  border-radius: var(--thumb-border-radius);
  box-shadow:
    0 0 0 2px rgba(0, 0, 0, 0.25) inset,
    0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.5);
}

@layer base {
  :root {
    --background: 0 0% 7%;
    --foreground: 0 0% 98%;
    --card: 240 3% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 7%;
    --popover-foreground: 0 0% 98%;
    --primary-green: 174 97% 30%;
    --primary-purple: 267 95% 50%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 20%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 18%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 20%;
    --radius: 0.5rem;

    /* Thumb Size */
    --thumb-width: 18px;
    --thumb-height: 40px;

    --thumb-bg-color: rgb(209, 216, 222);
    --thumb-highlight-color: rgba(0, 0, 0, 0.8);
    --thumb-stripe-color: rgba(0, 0, 0, 0.4);

    /* Thumb Shape */
    --thumb-border-radius: 3px;

    /* Shadows */
    --thumb-inner-shadow-light: rgba(255, 255, 255, 0.4);
    --thumb-outer-shadow-dark: rgba(0, 0, 0, 0.4);
    --thumb-outer-shadow-darker: rgba(0, 0, 0, 0.3);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
